@import 'eac_rails_base0/default_configuration';

.default_link {
  text-decoration: none;

  #hover {
    text-decoration: none;
  }
}

.delete_link {
  @extend .glyphicon;
  @extend .glyphicon-remove;
  @extend .default_link;
  color: $delete_icon_color;
}

.edit_link {
  @extend .glyphicon;
  @extend .glyphicon-pencil;
  @extend .default_link;
  color: $edit_icon_color;
}

.goto_link {
  @extend .glyphicon;
  @extend .glyphicon-share;
  @extend .default_link;
  color: $goto_icon_color;
}

.show_link {
  @extend .glyphicon;
  @extend .glyphicon-modal-window;
  @extend .default_link;
  color: $edit_icon_color;
}
